
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

tr{
  background-color: rgb(234, 160, 194);
}

th{
  color: cyan;
}

.vegetarians {
  background-color: darkorange;
}

#salty {
  font-size: 65px;;
  font-weight: 800;
}
svg {
  background-color: rgb(178, 207, 233);
}